.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  width: calc(100vw - 30px);
}

.star_wars_species {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  margin: 20px 10px;
  object-fit: contain;
  padding: 5px 10px;
  background-color: #474c63;
  border-radius: 5px;
  padding-bottom: 25px;

  .name {
    color: #ebca1c;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: center;
  }
}

.star_wars_species:hover {
  outline: 1px solid #848aa7;
  background-color: #51566d;
}

.image {
  max-height: 310px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
}

@media (max-width: 650px) {
  .image {
    max-height: 200px;
  }
}

@media (max-width: 500px) {
  .image {
    max-height: 150px;
  }
}
