.species_details_wrapper {
  width: 400px;
  margin-left: 10px;

  @media (min-width: 1000px) {
    margin-left: 50px;
  }
}

.species_data {
  margin: 20px 0;
  word-wrap: break-word;
  .title {
    color: var(--details-title-color);
  }
  .text {
    color: var(--details-text-color);
  }
}

.species_details {
  position: fixed;
  padding: 40px;
  margin: 20px 10px 0 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--details-background-color);
  z-index: 3;
}

.name {
  color: var(--title);
  font-weight: 500;
}

.species_details div {
  padding-bottom: 5px;
}

.link {
  text-decoration: none;
}

.close {
  margin: 0 auto;
}

.details_backdrop {
  z-index: 2;
  background-color: var(--backdrop-background);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

.loading_details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backdrop-background);
  opacity: 0.85;
  padding: 15px;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .species_wrapper {
    width: 500px;
    margin-left: 5px;
  }
  .species_details {
    padding: 40px 20px;
    margin: 20px 10px 0 0;
  }
}

@media (max-width: 500px) {
  .species_details {
    margin: 20px 10px 0 20%;
  }
}

@media (max-width: 420px) {
  .species_details {
    margin: 20px 10px 0 0;
  }
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  max-height: 400px;
  margin: 20px 10px 0 10px;
  padding: 20px;
  background-color: var(--details-background-color);
}
