button {
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  color: var(--button-font-color);
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover:not(:disabled) {
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
}

button:disabled {
  opacity: 0.5;
}

.search {
  display: flex;
  gap: 20px;
  padding: 15px 0 20px 40px;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border);
}

.input-field {
  padding-left: 5px;
  border-radius: 5px;
  height: 27px;
}
